<!DOCTYPE html>
<html class="x-admin-sm">
    
    <meta charset="UTF-8">
	<#include "../common/head.html"/>
	<@aHead title="后台登录-X-admin2.2" />
    
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
                <a href="">首页</a>
                <a href="">演示</a>
                <a>
                    <cite>导航元素</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5">
                                <div class="layui-input-inline layui-show-xs-block">
                                    <input type="text" name="username" placeholder="请输入订单号" autocomplete="off" class="layui-input"></div>
                                <div class="layui-input-inline layui-show-xs-block">
                                    <button class="layui-btn" lay-submit="" lay-filter="sreach">
                                        <i class="layui-icon">&#xe615;</i></button>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-header">
                            <button class="layui-btn" onclick="xadmin.open('添加用户','${base}/admin/role/toSaveRole',800,600)">
                                <i class="layui-icon"></i>添加</button></div>
                        <div class="layui-card-body ">
                            <table class="layui-table layui-form">
                                <thead>
                                    <tr>
                                        <th>角色名称</th>
                                        <th>角色权限</th>
                                        <th>描述</th>
                                        <th>创建时间</th>
                                        <th>是否可用</th>
                                        <th>操作</th></tr>
                                </thead>
                                <tbody>
                                	<#if (resultdata.data??) && (resultdata.data?size>0) >
                                		<#list resultdata.data as role>
                                			<tr>
		                                        <td>${(role.rolename)!''}</td>
		                                        <td>
		                                        	<#if (role.menuList??) && (role.menuList?size>0)>
		                                        		<#list role.menuList as menu>
		                                        			<#if menu_index == 0>
		                                        				${menu.name}
		                                        			<#else>
		                                        				,${menu.name}
		                                        			</#if>
		                                        		</#list>
		                                        	</#if>
		                                        </td>
		                                        <td>${(role.bewrite)!''}</td>
		                                        <td>${(role.createdate)?string('yyyy-MM-dd HH:mm:ss')}</td>
		                                        <td>
		                                        	<#if role.active == '1'>
														<span class="layui-btn layui-btn-normal layui-btn-mini">可用</span>
													</#if>
													<#if role.active == '2'>
														<span class="layui-btn layui-btn-normal layui-btn-mini layui-btn-disabled">不可用</span>
													</#if>
		                                        </td>
		                                        <td class="td-manage">
		                                            <a title="编辑" onclick="xadmin.open('编辑','${base}/admin/role/toEditRole?id=${(role.id)!''}')" href="javascript:;">
		                                                <i class="layui-icon">&#xe63c;</i></a>
		                                            <a title="删除" onclick="member_del(this,'${(role.id)!''}')" href="javascript:;">
		                                                <i class="layui-icon">&#xe640;</i></a>
		                                        </td>
		                                    </tr>
                                		</#list>
                                	</#if>
                                </tbody>
                            </table>
                        </div>
                        <div class="layui-card-body ">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>

        /*用户-删除*/
        function member_del(obj, id) {
            layer.confirm('确认要删除吗？',
            function(index) {
            	
            	
            	$.ajax({
					type: "POST", //GET或POST,
					async:true, //默认设置为true，所有请求均为异步请求。
					url: "${base}/admin/role/delRole",
					data: {
						'id':id
					},
					dataType: "json", //xml、html、script、jsonp、text
					success: function(dataResult) {
						if(dataResult && dataResult.status == 'success'){
							//发异步删除数据
			                $(obj).parents("tr").remove();
			                layer.msg('已删除!', {
			                    icon: 1,
			                    time: 1000
			                });
						}else{
							layer.alert('删除失败', {icon: 5});
						}
						
						
					},
					error:function(){
						layer.alert('删除失败', {icon: 5});
					}
				});
                
                
            });
        }

        function delAll(argument) {

            var data = tableCheck.getData();

            layer.confirm('确认要删除吗？' + data,
            function(index) {
                //捉到所有被选中的，发异步进行删除
                layer.msg('删除成功', {
                    icon: 1
                });
                $(".layui-form-checked").not('.header').parents('tr').remove();
            });
        }</script>

</html>