<!DOCTYPE html>
<html class="x-admin-sm">
	<meta charset="UTF-8">
	<#include "../common/head.html">
	<@aHead title="后台登录-X-admin2.2" />
	<link rel="stylesheet" href="${base}/platform/css/upload.css">
<body>
	<div class="main">
		<div id="showimg">
			<ul id="showui">
			</ul>
			<div id="showinput"></div>
		</div>
		<div class="upimg">
			<input type="file" id="upgteimg" value="" multiple />
		</div>
		<button class="btn" id="submit">开始上传</button>
	</div>
	<script src="${base}/platform/js/jquery.min.js"></script>
	<script type="text/javascript" src="${base}/platform/js/updateimg.js"></script>
</body>
</html>