<!DOCTYPE html>
<html class="x-admin-sm">
    <meta charset="UTF-8">
	<#include "../common/head.html"/>
	<@aHead title="后台登录-X-admin2.2" />
    
    <body>
        <div class="x-nav">
            <span class="layui-breadcrumb">
                <a onclick="parent.xadmin.add_tab('桌面','${base}/admin/index/toWelcome')" style="color: red" href="javascript:;">桌面</a>
                <a href="">演示</a>
                <a>
                    <cite>导航元素</cite></a>
            </span>
            <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" onclick="location.reload()" title="刷新">
                <i class="layui-icon layui-icon-refresh" style="line-height:30px"></i>
            </a>
        </div>
        <div class="layui-fluid">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-body ">
                            <form class="layui-form layui-col-space5">
                                <div class="layui-input-inline layui-show-xs-block">
                                    <input class="layui-input" placeholder="开始日" name="start" id="start"></div>
                                    <input type="hidden" name="totalCount" value="${(resultdata.page.totalCount)!0}"/>
									<input type="hidden" name="currentPage" value="${(resultdata.page.currentPage)!0}"/>
									<input type="hidden" name="pageSize" value="${(resultdata.page.pageSize)!0}"/>
                                <div class="layui-inline layui-show-xs-block">
									<input type="text" name="name" placeholder="请输入菜单名" autocomplete="off" class="layui-input">
								</div>
                                <!-- <div class="layui-input-inline layui-show-xs-block">
                                    <select name="contrller">
                                        <option value="">订单状态</option>
                                        <option value="0">待确认</option>
                                        <option value="1">已确认</option>
                                        <option value="2">已收货</option>
                                        <option value="3">已取消</option>
                                        <option value="4">已完成</option>
                                        <option value="5">已作废</option></select>
                                </div> -->
                                <div class="layui-input-inline layui-show-xs-block">
                                    <div class="layui-btn search">
                                        <i class="layui-icon">&#xe615;</i>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="layui-card-header">
                            <button class="layui-btn layui-btn-danger" onclick="delAll()">
                                <i class="layui-icon"></i>批量删除</button>
                            <button class="layui-btn" onclick="xadmin.open('添加菜单','${base}/admin/menu/toSaveMenu',800,600)">
                                <i class="layui-icon"></i>添加</button></div>
                        <div class="layui-card-body ">
                            <table class="layui-table layui-form">
                                <thead>
                                    <tr>
                                        <th>
                                            <input type="checkbox" name="" lay-skin="primary">
                                        </th>
                                        <th>菜单名称</th>
                                        <th>创建时间</th>
                                        <th>修改时间</th>
                                        <th>是否可用</th>
                                        <th>排序</th>
                                        <th>是否是父菜单</th>
                                        <th>url</th>
                                        <th>操作</th></tr>
                                </thead>
                                <tbody>
                                    <#if resultdata??>
                                    	<#list resultdata.data as menu>
                                    		<tr>
		                                        <td>
		                                            <input type="checkbox" name="id" value="${(menu.id)!''}" lay-skin="primary"></td>
		                                        <td>${(menu.name)!''}</td>
		                                        <td>${(menu.createDate)?string('yyyy-MM-dd HH:mm:ss')}</td>
		                                        <td>${(menu.updateDate)?string('yyyy-MM-dd HH:mm:ss')}</td>
		                                        <td>
		                                        	<#if menu.status == '1'>可用</#if>
		                                        	<#if menu.status == '2'>不可用</#if>
		                                        </td>
		                                        <td>${(menu.sort)!''}</td>
		                                        <td>
		                                        	<#if menu.isParent == '1'>是</#if>
		                                        	<#if menu.isParent == '2'>不是</#if>
		                                        </td>
		                                        <td>${(menu.url)!''}</td>
		                                        <td class="td-manage">
		                                            <a title="查看" onclick="xadmin.open('编辑','${base}/admin/menu/menuEdit')" href="javascript:;">
		                                                <i class="layui-icon">&#xe63c;</i></a>
		                                            <a title="删除" onclick="member_del(this,'${menu.id}')" href="javascript:;">
		                                                <i class="layui-icon">&#xe640;</i></a>
		                                        </td>
		                                    </tr>
                                    	</#list>
                                    </#if>
                                </tbody>
                            </table>
                        </div>
                        <div class="layui-card-body ">
							<div class="page" id="page"></div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </body>
    <script>layui.use(['laydate', 'form'],
        function() {
            var laydate = layui.laydate;

          	//执行一个laydate实例
			laydate.render({
				elem: '#start', //指定元素
				type: 'date',
				format: 'yyyy-MM-dd',
				max: new Date().format("yyyy-MM-dd"),
				range: '~'
			});
        });


        /*单个删除*/
        function member_del(obj, id) {
            layer.confirm('确认要删除吗？',
            function(index) {
                
            	$.ajax({
					type: "POST", //GET或POST,
					async:true, //默认设置为true，所有请求均为异步请求。
					url: "${base}/admin/menu/delMenu",
					data: {ids:id},
					dataType: "json", //xml、html、script、jsonp、text
					success: function(dataResult) {
						if(dataResult && dataResult.status == 'success'){
							$(obj).parents("tr").remove();
							layer.msg('已删除!', {
								icon: 1,
								time: 1000
							});
						}else{
							layer.alert('操作失败', {icon: 5});
						}
					},
					error:function(){
						layer.alert('操作失败', {icon: 5});
					},
				});
            });
        }

        //删除多个
        function delAll(argument) {
        	var ids = [];
			// 获取选中的id 
			$('tbody input').each(function(index, el) {
				if($(this).prop('checked')) {
					ids.push($(this).val())
				}
			});
			
			if(ids.length == 0){
				layer.alert('请选择要删除的行', {icon: 5});
				return;
			}

            layer.confirm('确认要删除吗？' + ids,function(index) {
                
                $.ajax({
					type: "POST", //GET或POST,
					async:true, //默认设置为true，所有请求均为异步请求。
					url: "${base}/admin/menu/delMenu",
					data: {ids:ids.toString()},
					dataType: "json", //xml、html、script、jsonp、text
					success: function(dataResult) {
						if(dataResult && dataResult.status == 'success'){
							layer.msg('已删除!', {
								icon: 1,
								time: 1000
							});
							$(".layui-form-checked").not('.header').parents('tr').remove();
						}else{
							layer.alert('操作失败', {icon: 5});
						}
					},
					error:function(){
						layer.alert('操作失败', {icon: 5});
					},
				});
            });
        }
        
        
        $(".search").click(function(){
			var dataJson = getData();
			dataJson.currentPage=1;
	    	dataJson.pageSize=1;
			searchAjax(dataJson);
		});
		
		function getData(){
			var start = $("#start").val();
			var username = $("input[name='username']").val();
			
			var data = {'dataSelect':start,'username':username}
			return data;
		}
		
		/* 搜索ajax方法 */
		function searchAjax(dataJson){
			$.ajax({
				type: "POST", //GET或POST,
				async:true, //默认设置为true，所有请求均为异步请求。
				url: "${base}/admin/menu/menuList/json",
				data: dataJson,
				dataType: "json", //xml、html、script、jsonp、text
				success: function(dataResult) {
					if(dataResult && dataResult.status == 'success'){
						$("tbody").html('');
						//重新赋值总数量和每页条目数
						$("input[name='totalCount']").val(dataResult.page.totalCount);
						$("input[name='pageSize']").val(dataResult.page.pageSize);
						//拼接html
						append(dataResult.data);
						if(dataResult.page.currentPage == 1){
							//分页重新初始化
							pageFunction(dataResult.page.totalCount,dataResult.page.pageSize);
						}
					}else{
						layer.alert('操作失败', {icon: 5});
					}
				},
				error:function(){
					layer.alert('操作失败', {icon: 5});
				},
			});
		}
        
		
		/* 拼接html数据方法 */
		function append(data){
			var html = '';
			$.each(data,function(index,menu){
				html += '<tr>'
					+ '<td>'
					+ '<input type="checkbox" name="id" value="' + menu.id + '" lay-skin="primary">'
					+ '</td>'
					+ '<td>' + menu.name + '</td>'
					+ '<td>' + new Date(menu.createDate).format("yyyy-MM-dd hh:mm:ss") + '</td>'
					+ '<td>' + new Date(menu.updateDate).format("yyyy-MM-dd hh:mm:ss") + '</td>';
					var status = '可用';
					if(menu.status == '1'){
						status = '可用';
					}else if(menu.status == '2'){
						status = '不可用';
					}
			html += '<td>' + status + '</td>'
					+ '<td>' + menu.sort + '</td>';
					var isParent = '是';
					if(menu.isParent == '1'){
						isParent = '是';
					}else if(menu.status == '2'){
						isParent = '不是';
					}
					var url = "${base}\/admin\/menu\/menuEdit?id=" + menu.id;
			html += '<td>' + isParent + '</td>'
					+ '<td>' + menu.url + '</td>'
					+ '<td class="td-manage">'
					+ ' <a title="编辑" onclick="xadmin.open(\'编辑\',\'' + url + '\',600,400)" href="javascript:;">'
					+ ' <i class="layui-icon">&#xe642;</i>'
					+ ' </a>'
					+ ' <a title="删除" onclick="member_del(this,\'' + menu.id + '\')" href="javascript:;">'
					+ ' <i class="layui-icon">&#xe640;</i>'
					+ ' </a>'
					+ ' </td> </tr>';
					
			});
			$("tbody").html(html);
		}
		
		function changeTab(){
			element.tabChange('xbs_tab', '038a139703cac67ae15708a9b6bd3f85');
		}
        
     </script>
     
     <script>
		var totalCount = $("input[name='totalCount']").val();
		var pageSize = $("input[name='pageSize']").val();
		//分页方法
		pageFunction(totalCount,pageSize);
	</script>

</html>